.game-cards {
    max-width: fit-content;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.train-card {
    width: 130px;
    align-self: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px 5px;
    background-color: #161a2b;
}

.train-card img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
